<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Report</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"/>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <a id="logo" href="">Day to Day Expenses</a>

    <div class="col">
        <h3 id="date"></h3>
   </div>

   <h3 id="this-year" ></h3> 

   <div class="monthly-expense">
        <h3 id="this-month"></h3>
        <table>
            <tr id="monthly-heading">
              <th>Date</th>
              <th>Description</th>
              <th>Category</th>
              <th>Income</th>
              <th>Expense</th>
            </tr>
            <tr id="monthly-data">
              <td>Alfreds</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Maria Anders</td>
              <td>Germany</td>
            </tr>
          </table>
   </div>
   <div class="yearly-expense">
    <h3>Yearly Report</h3>
    <table>
        <tr id="yearly-heading">
          <th>Month</th>
          <th>Income</th>
          <th>Expense</th>
          <th>Savings</th>
        </tr>
        <tr id="yearly-data">
          <td>Alfreds</td>
          <td>Maria Anders</td>
          <td>Germany</td>
          <td>Maria Anders</td>
        </tr>
      </table>
</div>

<div class="notes-report">
    <h3 id="notes-year"></h3>
    <table>
        <tr id="notes-heading">
            <th>Date</th>
            <th>Notes</th>
        </tr>
        <tr id="notes-data">
            <td>Date</td>
            <td>Notes</td>
        </tr>
    </table>
</div>

<div class="download-btn">
    <a id="icon" href=""><i class="ri-arrow-down-line"></i></a>
</div>
    </div>


    <script src="report.js"></script>
</body>
</html>